<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <style>
            .container {
                margin: auto;
                width: 400px;
            }

            .token-container {
                background-color: black;
                color: white;
                margin: 25px auto;
                width: fit-content;
                padding: 10px 50px;
            }

            .token-container p {
                padding: 0px;
                margin: 0px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <p>Caro(a) #Name</p>
            <p>Para confirmar seu e-mail, por favor copie a chave abaixo e cole no aplicativo ou site.</p>
            <div class="token-container">
                <p>#Token</p>
            </div>
        </div>
    </body>
</html>